#squares{
 height: 35px;
 width: 35px;
 background-color: blue;
 

}
#container{
  display: grid;
  grid-template-columns: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
  grid-column-gap:32px;
  grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
  grid-row-gap: 32px;
  
}
body{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
#popUp{
  height: 70px;
  width: 200px;
}
#container2{
  display: grid;
  grid-template-columns: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
}
